//Button Colors
$primaryBtn: linear-gradient(rgb(172, 64, 64), maroon);
$hoverBtn: linear-gradient(rgb(173, 88, 88), rgb(168, 3, 3));

//Header Colors
$primaryBGC: linear-gradient(rgb(54, 144, 218),rgb(65, 109, 145));

//Footer Color
$footerBGC: linear-gradient(rgb(241, 138, 41),rgb(107, 66, 28));
    
//Body Color
$bodyBGC: linear-gradient(rgb(99, 96, 96),rgb(68, 65, 65),rgb(0, 0, 0));

